.tag {
  width: fit-content;

  background-color: var(--tertiary);
  font-size: 0.85em;
  padding: var(--space-2) var(--space-3);
  &:disabled,
  &.disabled {
    background-color: var(--bg4_Dark);
  }
}
