.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  background-color: var(--bg2_Dark);
  padding: var(--space-4);
  border-radius: var(--radius-3);
  max-width: 500px;

  & > label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: var(--space-2);

    & > p {
      font-size: var(--text-lg);
      font-weight: 600;
    }
    & > input {
      width: 70%;
      background-color: var(--bg1_Dark);
      outline: var(--tertiary);
      &:invalid {
        outline-width: var(--error);
      }
    }
    & > span {
      outline: var(--bg2_Dark) solid 1px;
      background-color: var(--bg1_Dark);
      width: 100%;
      max-width: 500px;
      padding: var(--space-1) var(--space-2);
      border-radius: 0.5em;
    }
  }
  & > label > input:focus,
  & > label > span:focus {
    outline: var(--tertiary) solid 1px;
  }
  & > button {
    background-color: var(--secondary);
  }
}
