.adminContainer {
  width: 100%;
  padding: var(--space-4);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: flex-start;
  gap: var(--space-2);
  max-height: 100%;
  overflow: auto;
}
