@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3em;
  padding: 1em;
  place-items: center;
  position: relative;
  border-radius: 1em;
  background-color: var(--bg1_Dark);
  max-width: 400px;
  margin: 0 auto;
  text-align: center;

  & > label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;

    & > input {
      width: 90%;
    }
  }
  & > h2 {
    font-size: var(--text-lg);
    font-weight: 700;
    letter-spacing: var(--space-0);
    padding-inline: var(--space-1);
    z-index: 2;
    color: #fff;
  }

  &::before {
    filter: blur(0.5rem);
  }

  &::before,
  &::after {
    content: "";
    inset: -0.25em;
    position: absolute;
    background-image: conic-gradient(
      from var(--angle),
      var(--primary),
      var(--secondary),
      var(--secondary),
      var(--tertiary),
      var(--tertiary),
      var(--primary)
    );
    border-radius: 1.25em;
    z-index: -1;

    animation: rotate 5s linear infinite;
  }
}

.logInError {
  color: var(--error);
}

/* rotate gradient */
@keyframes rotate {
  100% {
    --angle: 360deg;
  }
}
