.main {
  /* Position */
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  /* align-self: flex-start; */
  align-items: center;
  justify-content: center;
  position: relative;

  max-width: 900px;
  max-height: calc(100vh - 4em);
  overflow-y: auto;

  gap: var(--space-3);
  padding: var(--space-4);
}

.panel {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  padding: 1rem;

  border-radius: var(--radius-2);
  background-color: var(--bg2_Dark);
  position: relative;
}
.cartBtn,
.cartBtnActive {
  position: fixed;
  display: grid;
  place-items: center;
  width: fit-content;
  bottom: 1rem;
  right: 1rem;
  aspect-ratio: 1/1;
  z-index: 1000;
  & > p {
    position: absolute;
    padding: var(--space-1);
    width: 25px;
    aspect-ratio: 1/1;
    top: -0.25em;
    right: -0.25em;
    border-radius: 50%;
    background-color: var(--info);
  }
}

.cartBtn {
  background-color: var(--bg2_Dark);
}
.cartBtnActive {
  background-color: var(--tertiary);
  & > p {
    color: var(--bg0_Light);
  }
}
